.highlighted {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    font-weight: bold;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    text-shadow: none;
}
.highlight {
    background-color: yellow;
}
.highlightYellow {
    background-color: yellow;
}

.highlightGreen {
    background-color: #c1ed72;
}

.highlightBlue {
    background-color: #acd8fd;
}

.highlightRed {
    background-color: #ffb1cb;
}

.highlightBanafsh {
    background-color: #d8b2ff;
}

.highlightNote {
    border-bottom: 2px solid red;
    
}

.highlightedCurrent {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFF00), to(#EDD000)) repeat-x 0px 0px; /* 0px is top offset */
    border: 1px solid #000000;
    color: #000000;
    font-weight: bold;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    text-shadow: none;
}


nobr > span.math {
display: none!important;
}

body {
    word-wrap:break-word;
    word-break: break-word;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 0px;
}
img:not(.skip) {
    width: 100%; *//* or any custom size */

    object-fit: contain;
}



.collapsibleShut > p, .collapsibleShut > div, .collapsibleShut > ul, .collapsibleShut > ol, .collapsibleShut > table {
display:block!important;
}