/*
Goldilocks Approach to Responsive Web Design Boilerplate

Author: Design by Front - @designbyfront
Version: 0.1
URL: http://www.goldilocksapproach.com
----------------------------------------------------------------------------------------

CONTENTS - GLOBAL.CSS
-----------------------------------------
1. RESET
2. ROOT
3. CORE TYPOGRAPHY
4. LINKS
5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
6. BROWSER AND NON-SEMANTIC STYLING


*/


/* 1. RESET



----------------------------------------------------------------------------------------*/


.highlight {
    background-color: yellow;
}

.highlightYellow {
    background-color: yellow;
}

.highlightGreen {
    background-color: #c1ed72;
}

.highlightBlue {
    background-color: #acd8fd;
}

.highlightRed {
    background-color: #ffb1cb;
}

.highlightBanafsh {
    background-color: #d8b2ff;
}

.highlightNote {
    border-bottom: 2px solid red;

}



.highlighted {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    font-weight: bold;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    text-shadow: none;
}

.highlightedCurrent {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFF00), to(#EDD000)) repeat-x 0px 0px; /* 0px is top offset */
    border: 1px solid #000000;
    color: #000000;
    font-weight: bold;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    text-shadow: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size:100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/* 2. ROOT
----------------------------------------------------------------------------------------*/
html {
	overflow-y: scroll;
	background: #EDEBE9;
}
/* /ht Ethan Marcotte - http://front.ie/l8rJaA */
img, embed, object, video {
	max-width: 100%;
}
.ie6 img.full, .ie6 object.full, .ie6 embed, .ie6 video {
	width: 100%;
}
/* Change Box Model http://coding.smashingmagazine.com/2012/06/14/coding-qa-with-chris-coyier-box-sizing-and-css-sprites/ */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
/* 3. CORE TYPOGRAPHY
----------------------------------------------------------------------------------------*/

/* Modular Scale ---------------------- 14px @ 1:1.5	 498px @ 1:1.5	 ----------------------*/


/* */

/* Embed Gotham Narrow and Sabon Fonts*/
@font-face { /* Gotham Narrow Book*/
	font-family: 'GothamNarrow';
	src: url('../fonts/GothamNarrow-Book.eot');
	src: local('☺'), url('../fonts/GothamNarrow-Book.woff') format('woff'), url('../fonts/GothamNarrow-Book.ttf') format('truetype'), url('../fonts/GothamNarrow-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face { /* Gotham Narrow Book Italic*/
	font-family: 'GothamNarrow';
	src: url('../fonts/GothamNarrow-BookItalic.eot');
	src: local('☺'), url('../fonts/GothamNarrow-BookItalic.woff') format('woff'), url('../fonts/GothamNarrow-BookItalic.ttf') format('truetype'), url('../fonts/GothamNarrow-BookItalic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face { /* Gotham Narrow Medium*/
	font-family: 'GothamNarrow';
	src: url('../fonts/GothamNarrow-Medium.eot');
	src: local('☺'), url('../fonts/GothamNarrow-Medium.woff') format('woff'), url('../fonts/GothamNarrow-Medium.ttf') format('truetype'), url('../fonts/GothamNarrow-Medium.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face { /* Gotham Narrow Medium Italic*/
	font-family: 'GothamNarrow';
	src: url('../fonts/GothamNarrow-MediumItalic.eot');
	src: local('☺'), url('../fonts/GothamNarrow-MediumItalic.woff') format('woff'), url('../fonts/GothamNarrow-MediumItalic.ttf') format('truetype'), url('../fonts/GothamNarrow-MediumItalic.svg') format('svg');
	font-weight: bold;
	font-style: italic;
}
@font-face { /* Sabon Roman*/
	font-family: 'Sabon';
	src: url('../fonts/SabonLTStd-Roman.eot');
	src: local('☺'), url('../fonts/SabonLTStd-Roman.woff') format('woff'), url('../fonts/SabonLTStd-Roman.ttf') format('truetype'), url('../fonts/SabonLTStd-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face { /* Sabon Italic*/
	font-family: 'Sabon';
	src: url('../fonts/SabonLTStd-Italic.eot');
	src: local('☺'), url('../fonts/SabonLTStd-Italic.woff') format('woff'), url('../fonts/SabonLTStd-Italic.ttf') format('truetype'), url('../fonts/SabonLTStd-Italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face { /* Sabon Bold*/
	font-family: 'Sabon';
	src: url('../fonts/SabonLTStd-Bold.eot');
	src: local('☺'), url('../fonts/SabonLTStd-Bold.woff') format('woff'), url('../fonts/SabonLTStd-Bold.ttf') format('truetype'), url('../fonts/SabonLTStd-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face { /* Sabon Bold Italic*/
	font-family: 'Sabon';
	src: url('../fonts/SabonLTStd-BoldItalic.eot');
	src: local('☺'), url('../fonts/SabonLTStd-BoldItalic.woff') format('woff'), url('../fonts/SabonLTStd-BoldItalic.ttf') format('truetype'), url('../fonts/SabonLTStd-BoldItalic.svg') format('svg');
	font-weight: bold;
	font-style: italic;
}


font {
	/* font-family: 'Sabon', Serif; */
	font-family: 'GothamNarrow', Sans-Serif;
	color:#5f574f !important;
	/*font-size:1em !important;*/
	/*font-size:.7em !important;*/
}

body {
	font-family: 'Sabon', Serif;
	color: #5f5950;
	font-size: 1em;
	line-height: 1.5em;
	padding: 0 1.75em 0 1.75em;
    -webkit-transform: translate3d(0,0,0);
}
div {
	font-size: 1em;
	line-height:1.375em;
	margin-bottom:1.18em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'GothamNarrow', Sans-Serif;
	font-weight: bold;
	line-height: 1.25em;
	text-rendering: optimizeLegibility;
}
h1 {
	font-size: 1.75em;
	margin: 1.1em 0 .9em 0;
}
h2 {
	font-size: 1.25em;
	border-bottom: 1px solid #dce1da;
	margin: 1.875em 0 .375em 0;
}
.h2Link {
	float: right;
	margin: 0.688em 1.25em 0 0;
	color: #b7b1a9;
	font-size: 0.750em;
	line-height: 1.25em;
}
h3 {
	font-size: 1.125em;
	margin: 0 0 1.25em 0;
	padding-bottom: .25em;
	border-bottom: 1px solid #cdd0c8;
}
h4 {
	font-size: 0.875em;
	margin: 0 0 .5em 0;
	line-height: 1.125em;
}
h4.dictLtr {
	border-bottom: 1px solid #cdd0c8;
	font-size: 1em;
	line-height: 1.25em;
}
h5 {
	margin-bottom: .7em;
	font-size: 0.750em;
	line-height: 1.3em;
	text-transform: uppercase;
}
h4 a {
	color: #35abc7;
}
p, ul, ol, dl, blockquote {
	font-size: .1em;
	line-height: 1.5625em;
	margin-bottom: .75em;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
}
p {
	font-family: 'Sabon', Serif;
	font-size: 1em;
	line-height: 1.375em;
}
.small {
	font-size: .75em;
}
blockquote {
	margin: 0 1.18em 1.18em 1.18em;
}
ul, ol, dl, blockquote {
	font-size: 1em;
	line-height: 1.5em;
}
ul ul, ul ol, ol ul {
	font-size: 1em;
	margin-bottom: 0;
	margin-top: .625em;
}
ul {
	list-style-type: disc;
	margin-left: 1.75em;
}
li, ol {
	font-family: 'Sabon', Serif;
	font-size: 1em;
	line-height: 1.375em;
	margin-top: .8em;
}
li:first-child, ol:first-child {
	margin-top: 0;
}
li strong {
	font-family: 'Sabon', Serif;
}
ol {
	list-style-type: decimal;
	margin-left: 1.618em;
}
nav ul, nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
b, strong {
	font-family: 'GothamNarrow', Sans-Serif;
	font-weight: bold;
}
i, em {
	font-style: italic;
}
small {
	font-size: 80%;
}
hr {
	height: 1px;
	border: 0;
	color: #B7B1A9;
	background: #B7B1A9;
	margin-bottom: 1.18em;
}
/* Do not sup registered trademarks for any text using Gotham fonts (mostly headlines) */
/* Do not sup any trademarks */
sub, sup {
	font-size: 65%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
td, th {
	padding: .875em;
	font-size: .875em;
	line-height: 1.313em;
}
.medkitadded { /* Adds Medkit icon to left of section title */
	float:left;
	margin: 12px 0 0 -29px;
}
.medkitadded img {
	width:19px;
	height:auto;
}
.footnote {
	font-size: 0.813em
	margin: .938em 0 .938em 0;
}
.clearfields, .clearfields:visited, .clearfields:hover {
	border:1px solid #938b82;
	border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6b1a9), color-stop(100%, #a09b94)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b6b1a9 0%, #a09b94 100%); /* Chrome10+,Safari5.1+ */
	padding:10px 20px;
	text-decoration:none;
	color:#fff;
	/* font-family: 'Conv_GothamNarrow-Medium'; */
	font-family: 'GothamNarrow';
	font-size:18px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.clearfields:active {
	border:1px solid #6e6860;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #99948e), color-stop(100%, #7f7b76)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #99948e 0%, #7f7b76 100%); /* Chrome10+,Safari5.1+ */
}

/* 4. LINKS
----------------------------------------------------------------------------------------*/
a {
	outline: none;
	color: #35abc7;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(183,177,169,.5);
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}
a:active, a:focus {
	outline: none;
}

a.sectionheader:link, a.sectionheader:visited, a.sectionheader:active, a.sectionheader:hover, a.sectionheader:focus { 
	display:block;
	font-size:1.25em;
	outline: none;
	color:#605850;
	text-decoration:none;
	padding-top:.5em;
}

/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/

img[alt="Navigator"] {
	display:none;
} /* This hides the outline anchor image */
img[alt="navigator"] {
	display:none;
} /* This hides the outline anchor image */
img[alt="navigator.gif"] {
	display:none;
} /* This hides the outline anchor image */
img[src*="logo.gif"] {
    display: none;
} /* This hides the publisher image in the about topic */


/* 6. BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/
.cf:before, .cf:after {
	content: "";
	display: block;
}
.cf:after {
	clear: both;
}
.ie6 .cf {
	zoom: 1
}
.sdf {
}

.greenbold {
	font-family: 'GothamNarrow', Sans-Serif;
	color:#62b246;
	font-weight: bold;
}

.redbold {
	font-family: 'GothamNarrow', Sans-Serif;
	color:#d02126;
	font-weight: bold;
}